
        <section class="footer__wrap">
            
            <div class="footer-icons__wrap"> 
                <h2 class="footer-icons__copy">Connect With Us</h2>
                <div class="footer-icons__icon-wrap">
                        <a class="footer-icons__icon" href="https://www.facebook.com/grovecommunity/">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a class="footer-icons__icon" href="https://www.youtube.com/channel/UCahfASqUmiUf3q-MM_qfPYA">
                            <i class="fab fa-youtube-square"></i>
                        </a>
                        <a class="footer-icons__icon" href="https://twitter.com/grovechurchtv">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                        <a class="footer-icons__icon" href="https://vimeo.com/grovechurchtv">
                            <i class="fab fa-vimeo-square"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright__wrap">
                <button class="footer-donate-button tithely-give-btn" data-church-id="599080">
                    Give
                </button>
            </div>
            <div class="footer-img__wrap">
                <a href="/">
                    <img src="images/white-logo-G.png" alt="The Grove Logo" class="footer-img__img">
                </a>
            </div>
            <div class="footer-copyright__copy"><i class="far fa-copyright" aria-hidden="true"></i> 2019 <a href="http://www.mike-hibbard.net">Michael Hibbard</a></div>
        </section>

    </body>
    <script src="https://tithe.ly/widget/v3/give.js?3"></script>
    <script>
    var tw = create_tithely_widget();
    </script>
    <script type="text/javascript" src="app.js"></script>
</html>
