<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grove Community Church</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/media.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fjalla+One"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav class="header-nav__wrap" id="nav__wrap">
        <input type="checkbox" class="nav-menu__toggler" id="nav-menu__toggle">
        <div class="nav-menu__icon"><div></div></div>
        <div class="nav-menu__screen">
          <ul class="nav__list">
            <li class="nav-list__item">
              <a href="/">
                <img class="header-nav-img__logo" src="images/white-logo-G.png" alt="The Grove Logo">
              </a>
            </li>
            <li class="nav-list__item">
              <a class="site__link nav__link" href="/about">Our Mission and Vision</a>
            </li>
            <li class="nav-list__item">
              <a class="site__link nav__link" href="/call">Our Call</a>
            </li>
            <li class="nav-list__item">
              <a class="site__link nav__link" href="/story">Our Story</a>
            </li>
            <li class="nav-list__item">
              <a class="site__link nav__link" href="/story#leadership">Leadership</a>
            </li>
            <li class="nav-list__item">
              <a class="site__link nav__link" href="https://www.youtube.com/channel/UC4NM2NVwohJ_vX6HUlkvdog">
                What's Happening
              </a>
            </li>
            <li class="nav-list__item">
              <a class="site__link nav__link" href="/coffee">Coffee House</a>
            </li>
            <!-- <li class="nav-list__item">
              <a class="nav__link" href="https://sermons.faithlife.com/profile/independence-grove-community">
                Listen
              </a>
            </li> -->
            <hr class="nav-list__rule">
            <li class="nav-list__item">
              <div class="nav-icons__icon-wrap">
                <a class="nav-icons__icon" href="https://www.facebook.com/grovecommunity/">
                  <i class="fab fa-facebook-square"></i>
                </a>
                <a class="nav-icons__icon" href="https://twitter.com/grovechurchtv">
                  <i class="fab fa-twitter-square"></i>
                </a>
                <a class="nav-icons__icon" href="https://sermons.faithlife.com/profile/independence-grove-community">
                  <i class="fas fa-headphones"></i>
                </a>
                <a class="nav-icons__icon" href="https://www.youtube.com/channel/UCahfASqUmiUf3q-MM_qfPYA">
                  <i class="fab fa-youtube-square"></i>
                </a>
                <a class="nav-icons__icon" href="https://vimeo.com/grovechurchtv">
                  <i class="fab fa-vimeo-square"></i>
                </a>
              </div>
            </li>
            <button class="nav-list__button tithely-give-btn" data-church-id="599080">
              Give
            </button>
          </ul>
        </div>
      </nav>
    </header>
