<% include ./partials/header %>

  <section class="404-page__wrap">
    <div class="404-page__header-wrap">
      <h1 class="404-page__header">Clean up on Isle 404...</h1>
      <p class="404-page__header-copy">Well this is embarrassing...</p>
    </div>
  </section>

<% include ./partials/footer %>