<% include ./partials/header %>

<section class="about-page">
    <div class="about-page__sidebar"></div>
    <div class="about-page__wrap">
        <h1 class="about-page__header">Our Vision and Mission:</h1>
        <div class="about-page-copy__wrap">
            <h3 class="about-page__statement">our vision…</h3>
            <p class="about-page__copy">
                At The Grove, we believe that a VISION is what you hope
                to see happen in the lives of people as you engage in
                the community.  The Grove’s mission is this: “Inspiring 
                people to flourish through a passion for Jesus Christ!”
            </p>
        </div>
        <div class="about-page-copy__wrap">
            <h3 class="about-page__statement">our mission…</h3>
            <p class="about-page__copy">
                We believe that a MISSION is what you are committed to
                DOING as you engage in the community.  The Grove’s mission
                is this: “We exist to reach our community so we can inspire 
                people to fourish through the vibrant and abundant life 
                Christ has extended to everyone (Ephesians 3:16-18) and 
                through the experience and passion of a life fully devoted 
                to God through the power of Jesus and The Holy Spirit 
                (Ephesians 3:19-21).”
            </p>
        </div>

        <div class="about-page-copy__wrap">
            <h4 class="about-page-copy__title">What to expect:</h4>
            <p class="about-page__copy">
                Welcome to The Grove Community Church! We believe you
                belong here and we are glad that you are exploring our site.
                We would love to meet you in person at 10:15 AM on Sunday
                mornings, or online at facebook.com/grovecommunity. This is
                the best page to plan your first weekend worship experience at
                The Grove. If you would like to know more about what we
                believe, our values, and meet our leadership team, please feel
                free to search this site, or contact us with the information below!
                We are looking forward to a chance to experience worship with
                you, because we believe YOU BELONG HERE!
            </p>
        </div>
        
        <div class="about-page-copy__wrap">
            <h4 class="about-page-copy__title">What should I wear?</h4>
            <p class="about-page__copy">
                We want you to feel comfortable. After all, we are thrilled that
                you're joining us and want you to be more focused on the
                service than what you're wearing. We are a laid back church
                with a come as you are atmosphere.
            </p>
        </div>
        
        <div class="about-page-copy__wrap">
            <h4 class="about-page-copy__title">When are services?</h4>
            <p class="about-page__copy">
                We currently offer a worship experience on Sundays at 10:15
                AM. If you are early, you will not be disappointed as you will
                have a chance to interact with great people, check your children
                in to our children’s room, and enjoy some GREAT coffee on us!
            </p>
        </div>
        
        <div class="about-page-copy__wrap">
            <h4 class="about-page-copy__title">Where do I park?</h4>
            <p class="about-page__copy">
                Because of our downtown location at The Grove (116 S. Main
                Sheet in Independence, OR), we often get the question of
                where to park. We have a fairly large space behind the church,
                and we also encourage street parking in front of the church in
                the few blocks around our downtown location.
            </p>
        </div>
        
        <div class="about-page-copy__wrap">
            <h4 class="about-page-copy__title">Where do I enter?</h4>
            <p class="about-page__copy">
                Our entrance is right off main street in front of our location.
                There will be an open door and a friendly face to help you find
                your way when you join us. Look for our logo on our front
                windows, and for our signs along the street!
            </p>
        </div>
        
        <div class="about-page-copy__wrap">
            <h4 class="about-page-copy__title">Where do my kids go?</h4>
            <p class="about-page__copy">   
                We have children's ministries for kids from birth up to 5th
                grade. There is a place to check in at the entrance to our
                children’s room. We encourage you to come a little early to
                check your kids in to the nursery. Nursery is provided for the
                length of the service. Kid’s are checked in before service, but
                will sit with you until released after the music (we love to have
                families sing together), and they will have a message aimed
                right at them done by some amazing volunteers!
            </p>
        </div>
        
        <div class="about-page-copy__wrap">
            <h4 class="about-page-copy__title">How do I get more connected?</h4>
            <p class="about-page__copy">
                We would love for you to fill out our “next steps” card available
                on the seat backs of the chairs in the sanctuary. Please take a
                moment to fill out the connection portion of the card, and we
                hope you take a moment to fill out the “next steps” side of the
                card to share with us the work God is doing in your life so we
                can be a part of your journey!
            </p>
        </div>
        
    </div>

</section>


<% include ./partials/footer %>