<% include ./partials/header %>

<section class="call-page__wrap">
    <div class="call-page__header-wrap">
        <h1 class="call-page__header">our call</h1>
    </div>
    <p class="call-page__header-copy">We believe that we are called to live out God’s Word in the world through and in our community.</p>
    
    <p class="call-page-section__header">
      Our call to our community is based on Ephesians 3:14-21.  Below is a look at this passage of 
      Scripture and what we believe God has called us to do in response to His word.
    </p>
    <div class="call-page-section__wrap">
        <div class="call-page-section__content-wrap">
            <div class="call-page-item__wrap">
                <div class="call-page-item__copy"> 
                    <div class="call-page-item__copy-verse">
                        <sup>14</sup>“For this reason I kneel before the Father..."
                    </div>
                    <div class="call-page-item__copy-response">
                        Our response: We are called to pray first!
                    </div>
                </div>
                <div class="call-page-item__img call-page-item__img-1"></div>
            </div>
            <div class="call-page-item__wrap">
                <div class="call-page-item__copy"> 
                    <div class="call-page-item__copy-verse">
                        <sup>15</sup>“From whom every family in heaven and on earth derives its name...”
                    </div>
                    <div class="call-page-item__copy-response">
                        Our Response: We are called to see value in everyone!
                    </div>
                </div>
                <div class="call-page-item__img call-page-item__img-2"></div>
            </div>
            <div class="call-page-item__wrap">
                <div class="call-page-item__copy"> 
                    <div class="call-page-item__copy-verse">
                        <sup>16</sup>“I pray that out of his glorious riches he may strengthen you with power through His Spirit in your inner being...”
                    </div>
                    <div class="call-page-item__copy-response">
                        Our Response: We are called to believe that Jesus changes everything!
                    </div>
                </div>
                <div class="call-page-item__img call-page-item__img-3"></div>
            </div>
        </div>
        <div class="call-page-section__images-wrap">
            <div class="call-page-section__image-wrap call-page-section__image-wrap--img1">
                <img class="call-page-section__image" src="/images/verse14.jpg" alt="Verse 14">
            </div>
            <div class="call-page-section__image-wrap call-page-section__image-wrap--img2">
                <img class="call-page-section__image" src="/images/verse15.jpg" alt="Verse 15">
            </div>
            <div class="call-page-section__image-wrap call-page-section__image-wrap--img3">
                <img class="call-page-section__image" src="/images/verse16.jpg" alt="Verse 16">
            </div>
        </div>
    </div>
    
    <div class="call-page-section__wrap">
        <div class="call-page-section__content-wrap">
            <div class="call-page-item__wrap">
                <div class="call-page-item__copy"> 
                    <div class="call-page-item__copy-verse">
                        <sup>17</sup>“So that Christ may dwell in your hearts through faith.  And I pray that you, being rooted and established in love...”
                    </div>
                    <div class="call-page-item__copy-response">
                        Our Response: We are called to know God through a relationship with Jesus!
                    </div>
                </div>
                <div class="call-page-item__img call-page-item__img-4"></div>
            </div>
            <div class="call-page-item__wrap">
                <div class="call-page-item__copy"> 
                    <div class="call-page-item__copy-verse">
                        <sup>18</sup>“May have power, together with all the Lord’s holy people, to grasp how wide and long and high and deep is the love of Christ...”
                    </div>
                    <div class="call-page-item__copy-response">
                        Our Response: We are called to express Christ's love through community!
                    </div>
                </div>
                <div class="call-page-item__img call-page-item__img-5"></div>
            </div>
            <div class="call-page-item__wrap">
                <div class="call-page-item__copy"> 
                    <div class="call-page-item__copy-verse">
                        <sup>19</sup>“And to know this love that surpasses knowledge — that you may be filled to the measure of all the fullness of God...”
                    </div>
                    <div class="call-page-item__copy-response">
                        Our Response: We are called to give God our whole heart!
                    </div>
                </div>
                <div class="call-page-item__img call-page-item__img-6"></div>
            </div>
        </div>
        
        <div class="call-page-section__images-wrap">
            <div class="call-page-section__image-wrap call-page-section__image-wrap--img1">
                <img class="call-page-section__image" src="/images/verse17-crop.jpg" alt="Verse 17">
            </div>
            <div class="call-page-section__image-wrap call-page-section__image-wrap--img2">
                <img class="call-page-section__image" src="/images/verse18.jpg" alt="Verse 18">
            </div>
            <div class="call-page-section__image-wrap call-page-section__image-wrap--img3">
                <img class="call-page-section__image" src="/images/verse19-crop.jpg" alt="Verse 19">
            </div>
        </div>
    </div>
    
    <div class="call-page-section__wrap call-page-section__wrap--no-border">
        <div class="call-page-section__content-wrap">
            <div class="call-page-item__wrap">
                <div class="call-page-item__copy"> 
                    <div class="call-page-item__copy-verse">
                        <sup>20</sup>“Now to him who is able to do immeasurably more than all we ask or imagine, according to his power that is at work within us...”
                    </div>
                    <div class="call-page-item__copy-response">
                        Our Response: We are called to have big faith!
                    </div>
                </div>
                <div class="call-page-item__img call-page-item__img-7"></div>
            </div>
            <div class="call-page-item__wrap">
                <div class="call-page-item__copy"> 
                    <div class="call-page-item__copy-verse">
                        <sup>21</sup>“To him be glory in the church and in Christ Jesus throughout all generations, for ever and ever!  Amen!”
                    </div>
                    <div class="call-page-item__copy-response">
                        Our Response: We are called to focus on what matters!
                    </div>
                </div>
                <div class="call-page-item__img call-page-item__img-8"></div>
            </div>
        </div>

        <div class="call-page-section__images-wrap">
            <div class="call-page-section__image-wrap call-page-section__image-wrap--img1">
                <img class="call-page-section__image" src="/images/verse20-forreals.jpg" alt="Verse 20">
            </div>
            <div class="call-page-section__image-wrap call-page-section__image-wrap--img2">
                <img class="call-page-section__image" src="/images/verse21.jpg" alt="Verse 21">
            </div>
        </div>
    </div>

</section>

<% include ./partials/footer %>