<% include ./partials/header %>

<div class="coffee__header">
    <h2 class="coffee-header__copy">Inspiring People to Awaken</h2>
</div>
<section class="coffee__content-wrap">
    <div class="coffee__sidebar">
        <div class="coffee-sidebar__bg-color"></div>
        <h3 class="coffee-sidebar__title">Store info</h3>
        <p class="coffee-sidebar__info coffee-sidebar__info--title">Hours:</p>
        <p class="coffee-sidebar__info">M-Th 8-11:30am</p>
        <p class="coffee-sidebar__info">Sat 9am-2pm</p>
        <p class="coffee-sidebar__info coffee-sidebar__info--title">Phone:</p>
        <p class="coffee-sidebar__info">503.967.5738</p>
        <p class="coffee-sidebar__info coffee-sidebar__info--title">Address:</p>
        <p class="coffee-sidebar__info">116 S Main Street</p>
        <p class="coffee-sidebar__info">Independence, OR 97351</p>
    </div>

    <div class="coffee__menu">
        <div class="coffee-menu__header">
            <img src="images/grove-green-G.png" alt="The Grove Logo" class="coffee-menu__header-img">
            <div class="coffee-menu__header-title">Menu</div>
        </div>
        <div class="coffee-menu__content">
            <div class="coffee-menu__content-col">
                <div class="coffee-menu__content-title">Coffee</div>
                <div class="coffee-menu__content-copy">House Coffee</div>
                <div class="coffee-menu__content-copy">Americano</div>
                <div class="coffee-menu__content-copy">Cappuccino</div>
                <div class="coffee-menu__content-copy">Latte</div>
                <div class="coffee-menu__content-copy">Flavored Latte</div>
                <div class="coffee-menu__content-copy">Mocha</div>
            </div>
            <div class="coffee-menu__content-col">
                <div class="coffee-menu__content-title">Not Coffee</div>
                <div class="coffee-menu__content-copy">Chai Tea Latte</div>
                <div class="coffee-menu__content-copy">Tea</div>
                <div class="coffee-menu__content-copy">Hot Chocolate</div>
                <div class="coffee-menu__content-copy">Special of the Day</div>
                <div class="coffee-menu__content-copy">Blended Esspresso</div>
                <div class="coffee-menu__content-copy">Refills</div>
            </div>
        </div>
    </div>
</section>

<!-- Put on coffee page:
The grove coffee house is a ministry of the grove community church and is run entirely by volunteers.
All of our prices are suggested donation.
We encourage you to come and enjoy an excellent warm coffee or tea, have a great conversation, and 
spend time in our unique setting. We are here to serve our community, so stop on in! -->


<% include ./partials/footer %>