<% include ./partials/header %>
<section>
    <div class="main-page__title-wrap">
        <h1 class="main-page__title">The Grove Community Church</h1>
        <h3 class="main-page__title--subtitle">Join us: Sunday 10:15 am or 6:30 pm</h3>
        <div class="main-page-title-img__wrap main-page-title-img__wrap--bgcolor">
            <div class="main-page__title-img main-page__title-img-side main-page__title-img-1"></div>
            <div class="main-page__title-img main-page__title-img-center main-page__title-img-2"></div>
            <div class="main-page__title-img main-page__title-img-side main-page__title-img-3"></div>
        </div>
    </div>
</section>

<section>
    <div class="main-page__card-wrap">
        <div class="main-page__card-copy">
            Welcome to The Grove Community Church! We believe you belong here and we are glad that you are exploring our site. 
            We would love to meet you in person at 10:15 AM on Sunday mornings, or online at facebook.com/grovecommunity.
        </div>
        <div class="main-page__card-img main-page__card-img-1"></div>
    </div>

    <div class="main-page__card-wrap">
        <div class="main-page__card-img main-page__card-img-2"></div>
        <div class="main-page__card-copy">
            We currently offer a worship experience on Sundays at 10:15 AM. If you are early, you will not be disappointed as 
            you will have a chance to interact with great people, check your children in to our children’s room, and enjoy some 
            GREAT coffee on us!
        </div>
    </div>

    <div class="main-page__card-wrap">
            <div class="main-page__card-copy">
                There are lots of ways to connect at the grove!  We’d love to have you take a moment and look 
                around our website, and &mdash;of course&mdash; we’d love to meet you in person!  Join us for 
                a cup of coffee throughout the week or come to our service and see first hand who we are and 
                what we are passionate about!  We’d love to get to know you!
            </div>
            <div class="main-page__card-img main-page__card-img-3"></div>
    </div>
</section>



<% include ./partials/footer %>