<% include ./partials/header %>

   
<div class="splash-page-img__wrap">
    <div class="splash-page__img"></div>
    <div class="splash-page__img-title">
        Join us: Sunday 10:15 am or 6:30 pm
    </div>
    <h1 class="splash-page__title">Thanks for Visiting!</h1>
    <div class="splash-page-subtitle__wrap">
        <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
        <p class="splash-page-subtitle__copy">
            The Grove Community Church website is currently under construction, please come back later.
        </p>
    </div>
</div>




<script type="text/javascript" src="app.js"></script>


<% include ./partials/footer %>