<% include ./partials/header %>
<div class="story-page__header">
    <h1 class="story-page-header__copy">History of The Grove</h1>
</div>
<section>
    <div class="story-page__card-wrap">
        <div class="story-page__card-copy">
            At the start of 2014, God opened the door for The Grove to partner with the YMCA in
            downtown Independence.  In March of 2014, we had our first public worship service – 
            our LAUNCH!  Our first year in that downtown facility was amazing, and we loved being
            a part of the business corridor in the middle of the city. It was so important to us, that when
            we looked for a place of our own, we looked downtown.
        </div>
        <div class="story-page__card-img story-page__card-img-1"></div>
    </div>

    <div class="story-page__card-wrap">
        <div class="story-page__card-img story-page__card-img-2"></div>
        <div class="story-page__card-copy">
            God was using The Grove to see growth take place in many people’s lives. In 2015 the 
            church leadership felt a call to find a place of our own. God opened to the doors for us 
            to move into the facility that we are now in at 116 S. Main Street. We love being able to 
            continue our influence downtown, and now have an opportunity to have a coffee house 
            ministry as a part of who we are.
        </div>
    </div>

    <div class="story-page__card-wrap">
            <div class="story-page__card-copy">
                Now we are continuing to minister to the people of Independence and Monmouth. God
                has used The Grove to change many people’s lives and we have grown to be a church that
                influences lives throughout the community. We are still growing, and amazing things are 
                taking place.
            </div>
            <div class="story-page__card-img story-page__card-img-3"></div>
    </div>
</section>
<div id="leadership" class="story-page__separator"></div>

<section class="story-page__leader-wrap">

    <h2 class="story-page-leader__header">Leadership of The Grove</h2>
    <div class="story-page-leader__wrap">
        <div class="story-page-leader__card-wrap">
            <div class="story-page-leader__card-img story-page-leader__card-headshot-1"></div>
            <div class="story-page-leader__card-copy-wrap">
                <h3 class="story-page-leader__card-name">Andy Johnson</h3>
                <h4 class="story-page-leader__card-title">Lead Pastor</h4>
                <p class="story-page-leader__card-copy">
                    Andy’s passion is to encourage people to see that being in relationship with Christ
                    makes them the person they were created to be.  He encourages people through getting
                    to know them, and helping them learn more about the God who deeply desires a
                    relationship with His creation.
                    Andy believes that people were created to FLOURISH, and as a founding pastor for
                    The Grove Community, his desire is to lead people into the fully devoted
                    relationship with Jesus that makes that abundant life possible.
                </p>
            </div>
        </div>

        <div class="story-page-leader__card-wrap">
            <div class="story-page-leader__card-img story-page-leader__card-headshot-2"></div>
            <div class="story-page-leader__card-copy-wrap">
                <h3 class="story-page-leader__card-name">Mike Holbrook</h3>
                <h4 class="story-page-leader__card-title">Associate Pastor</h4>
                <p class="story-page-leader__card-copy">
                    Mike’s passion is to see people connect with Christ as they grow closer to one another.
                    As a co-founding pastor of The Grove, Mike has a passion to see growth in people who
                    were disconnected from God, and have now discovered what it means to be in
                    relationship with the One who created them.  Mike believes that Jesus changes
                    everything, and encourages our families at The Grove to be involved in spiritual
                    growth through small groups and in every aspect of their daily lives.
                </p>
            </div>
        </div>

        <div class="story-page-leader__card-wrap">
            <div class="story-page-leader__card-img story-page-leader__card-headshot-3"></div>
            <div class="story-page-leader__card-copy-wrap">
                <h3 class="story-page-leader__card-name">Leadership Team</h3>
                <h4 class="story-page-leader__card-title">Current 2018</h4>
                <p class="story-page-leader__card-copy">
                    At the Grove, we elect a portion of our leadership team every year to represent our
                    congregation and to partner with our pastors to see the Kingdom grow in our community.
                    Our church leadership consists of incredible people who desire to grow in their
                    relationship with Jesus by leading others, who are involved in reaching the people
                    in their community, and who lead through the example of their character.  Contact
                    the Leadership HERE.
                </p>    
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer %>